.container {
  max-width: 600px;
  max-height: 400px;
  overflow-y: scroll;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.generated-password {
  word-wrap: break-word;
  max-width: 600px;
}
.result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  margin-top: 10px;
}
