body {
  background-color: #f4f4f9;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333333;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="number"],
.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

button,
.btn,
.copy {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover,
.btn:hover {
  background-color: #0056b3;
}

.checkbox-group label {
  display: block;
  margin: 5px 0;
  font-size: 18px;
}

.result {
  margin-top: 20px;
  text-align: center;
}

.password {
  font-size: 18px;
  font-weight: bold;
  color: #4caf50;
  word-wrap: break-word;
  max-height: 87px;
  overflow-y: auto;
}

.error p {
  color: red;
  font-size: 15px;
  margin: 5px 0;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
    box-shadow: none;
    background-color: transparent;
  }

  .title {
    font-size: 1.5rem;
  }

  input[type="number"],
  button {
    font-size: 14px;
  }
}
