<div class="container">
  <h1>Password Generator</h1>
  <label>Password Length:</label>
  <input type="number" [(ngModel)]="passwordLength" min="1" />

  <div>
    <input type="checkbox" [(ngModel)]="includeAlphabets" />
    <label>Include Alphabets</label>
  </div>
  <div>
    <input type="checkbox" [(ngModel)]="includeNumbers" />
    <label>Include Numbers</label>
  </div>
  <div>
    <input type="checkbox" [(ngModel)]="includeSpecialCharacters" />
    <label>Include Special Characters</label>
  </div>
  <div class="result">
    <button (click)="generatePassword()">Generate</button>
    <div class="generated-password" *ngIf="password">
      <b>Generated Password: </b> {{ password }}
    </div>
  </div>
</div>
